In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
ser1 = Series([0,1,2],index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int64

In [3]:
ser2 = Series([3,4,5,6],index=['a','b','c','d'])
ser2

a    3
b    4
c    5
d    6
dtype: int64

In [4]:
ser1+ser2

a    3.0
b    5.0
c    7.0
d    NaN
dtype: float64

In [8]:
dframe = DataFrame(np.arange(4).reshape((2,2)),columns=list('AB'),index=['NY','LA'])
dframe

    A  B
NY  0  1
LA  2  3

In [ ]:
dframe2 = DataFrame(np.arange(9).reshape((3,3)),columns=list('ADC'),index=['NY','LA','SF'])