In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [3]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index = my_ser.index

In [5]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [7]:
my_index[0] = 'Z'
#不能直接改index

TypeError: Index does not support mutable operations

In [9]:
from numpy.random import randn

In [10]:
ser2 = my_ser.reindex(['A','B','C','D','E','F'])

In [11]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [12]:
# fill in the null value 把新加的index空白null的地方填数字
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [15]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [ ]:
dframe = DataFrame(randn(25).reshape((5,5)),index = ['A','B','C''D ])