In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set':np.arange(6)})
dframe1

   data_set key
0         0   X
1         1   Z
2         2   Y
3         3   Z
4         4   X
5         5   X

In [3]:
dframe2 = DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})
dframe2

   data_set_2 key
0           1   Q
1           2   Y
2           3   Z

In [4]:
pd.merge(dframe1,dframe2)
#把有相同index的行合并起来

   data_set key  data_set_2
0         1   Z           3
1         3   Z           3
2         2   Y           2

In [6]:
pd.merge(dframe1,dframe2,on='key')

   data_set key  data_set_2
0         1   Z           3
1         3   Z           3
2         2   Y           2

In [7]:
pd.merge(dframe1,dframe2,on='key',how='left')

   data_set key  data_set_2
0         0   X         NaN
1         1   Z         3.0
2         2   Y         2.0
3         3   Z         3.0
4         4   X         NaN
5         5   X         NaN

In [8]:
name = 'Jose'

In [15]:
print("Hello I'm "+name)

Hello I'm Jose

In [16]:
print("Hello I'm {}".format(name))

Hello I'm Jose

In [17]:
my_list = [1,2,3]
my_list.append(4)

In [18]:
my_list

[1, 2, 3, 4]

In [21]:
my_list[2]

my_list[0:]

[1, 2, 3, 4]

In [22]:
# dictionary

In [ ]:
d = {'key':10,'key2':'seconditem'}